body {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
    transition: .5s ease all;
}

.slide li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    flex-shrink: 0;
    /* transform: translateX(500px) */
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.button {
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}   